<%= form_tag("/sign_out", method: "get") do %>
    <button type="submit" class="header-button hover-header" href="#" id="signoutButton" ><i class="fa fa-sign-out fa-lg fa-stack-2x hover-header"></i></button>
<% end %>