<footer>
  <div class="footer">
    <div class="main-app-container">
      <div class="col-xs-12">
        <div class="row footer-wrapper hidden-xs">
          <div class="col-sm-3 text-left">
            <a href="https://warm-citadel-1598.herokuapp.com/about"
               target="_blank">
              <div class="footer-powered-by footer-text-color">
                                    <span class="powered-by-text">Powered by<i
                                    class="fa icon-bizzabo_logo_footer footer-logo bizzabo-logo"></i></span><span
              class="powered-by-text bold-text bizzabo-text">LACtic</span>
              </div>
            </a>
          </div>
          <div class="col-sm-9 text-right">
            <div class="add-to-calendar inline margin-right-small"></div>
            <div class="footer-logo-wrapper inline">
              <a><span class="contact-organizer-action footer-text-color">Contact us</span></a>
            </div>
          </div>
        </div>


        <div class="footer-wrapper visible-xs">
          <div class="text-center">
            <a href="https://warm-citadel-1598.herokuapp.com/about" target="_blank">
              <div class="footer-powered-by footer-text-color">
                                    <span class="powered-by-text">Powered by<i
                                    class="fa icon-bizzabo_logo_footer footer-logo bizzabo-logo"></i></span><span
              class="powered-by-text bold-text bizzabo-text">LACtic</span>
              </div>
            </a>

            <div class="add-to-calendar"></div>
            <div class="footer-logo-wrapper ">
              <a><span class="contact-organizer-action footer-text-color">Contact us</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>