<%= render 'layouts/shared/header'  %>


<div id="body" class="" role="main">

  <div id="page-title"><h1 class="headline hero-headline">New LACtic Creation</h1></div>

  <div class="wrapper hp-nus-wrapper">

    <div id="global-error">
    </div>
    <div id="main" class="create_osm" >
      <%= render 'form'  %>
    </div>
    </li>
  </div>
</div>
<%= render 'layouts/shared/footer'  %>

</body>
</html>












