<h2 style="text-align: -webkit-center;">Time to show off your LACtic profile!</h2>
<h3>  Searching for a fellow gym partner? personal trainers? local gym ? or maybe that cute
person who always goes to that same workout place as you do...</h3>
<h4>  Dancer? Trainer? Add that Skill so other users will be able to find you by </h4>
<h4>  Getting more votes to confirm your skills will get you higher in rank on the LACtic search engine</h4>

<div class="notifications_box" >
  <ul>
      <%= image_tag attachments['search_engine_1.png'].url, :style => "-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; width: 30%" %>

     <%= image_tag attachments['search_engine_2.png'].url, :style => "-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;  width: 30%" %>

    <%= image_tag attachments['search_engine_3.png'].url, :style => "-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;  width: 30%" %>


  </ul>
</div>
<h2>
<%= link_to "Edit your LACtic profile now!",  "https://warm-citadel-1598.herokuapp.com/settings" , {:style=>'text-align: center; font-size: large; text-decoration: none;'}%>
</h2>

